@charset "UTF-8";
@font-face {
  font-family: pingfang;
  src: url("../fonts/苹方黑体-准-简.ttf"); }

.center {
  width: 1400px;
  margin: 0 auto;
  overflow: hidden; }

.header {
  height: 130px; }
  .header .top_bar {
    width: 100%;
    overflow: hidden;
    background-color: #4bb983; }
    .header .top_bar .top_bar_left {
      font-size: 0;
      float: left; }
      .header .top_bar .top_bar_left span, .header .top_bar .top_bar_left a {
        font-size: 14px;
        line-height: 40px;
        color: #fff;
        padding: 0 15px;
        border-right: 2px solid #d9eee2; }
    .header .top_bar .top_bar_right {
      font-size: 0;
      float: right; }
      .header .top_bar .top_bar_right a {
        font-size: 14px;
        line-height: 40px;
        color: #fff;
        padding: 0 15px;
        border-left: 2px solid #d9eee2; }
        .header .top_bar .top_bar_right a:first-child {
          border-left: 0; }
  .header .logo {
    display: block;
    width: 122px;
    height: 50px;
    float: left;
    background-image: url(../images/logo.png);
    background-position: center 0;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 25px 20px 0 6px; }
  .header .contact_btn {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    padding: 5px 20px;
    border-left: 1px solid #cccccc;
    margin-top: 29px; }
    .header .contact_btn i {
      display: block;
      width: 36px;
      height: 36px;
      background-image: url(../images/header.png); }
  .header .weixin_qrcode {
    display: none;
    position: absolute;
    top: 105px;
    left: 169px;
    width: 314px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 1; }
    .header .weixin_qrcode .qr_box {
      float: left;
      width: 126px;
      height: 165px;
      padding: 15px 15px 0;
      border-right: 1px solid #737373; }
      .header .weixin_qrcode .qr_box img {
        width: 126px;
        height: 126px;
        display: block; }
      .header .weixin_qrcode .qr_box span {
        display: block;
        width: 100%;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        color: #fff;
        text-align: center; }
  .header .menu {
    float: right;
    margin-top: 25px; }
    .header .menu .fir_item {
      float: left;
      position: relative;
      padding-bottom: 25px; }
      .header .menu .fir_item .fir_link {
        font-family: pingfang;
        display: block;
        padding: 0 25px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        color: #727171;
        transition: all 0.3s; }
      .header .menu .fir_item .sec_menu {
        display: none;
        position: absolute;
        margin-top: 25px;
        height: 52px;
        background-color: rgba(89, 89, 89, 0.8);
        text-align: center;
        z-index: 1; }
        .header .menu .fir_item .sec_menu .sec_item {
          display: inline; }
          .header .menu .fir_item .sec_menu .sec_item .sec_link {
            font-family: pingfang;
            font-size: 14px;
            line-height: 52px;
            color: #fff;
            padding: 0 15px;
            transition: all 0.3s; }
            .header .menu .fir_item .sec_menu .sec_item .sec_link:hover {
              color: #4bb983; }
      .header .menu .fir_item:hover .sec_menu {
        display: block; }
    .header .menu .menu_on .fir_link {
      color: #fff;
      transition: all 0.3s; }
  .header .back {
    position: absolute;
    height: 40px;
    top: 25px;
    z-index: -1;
    background-color: #4bb983;
    transition: all 0.3s; }

.banner {
  width: 100%;
  position: relative;
  height: 570px; }
  .banner a {
    display: block;
    width: 100%;
    height: 570px;
    background-position: center 0;
    background-repeat: no-repeat; }
  .banner .banner_left, .banner .banner_right {
    width: 70px;
    height: 180px;
    background-image: url(../images/banner_arrows.png);
    position: absolute;
    top: 195px;
    cursor: pointer; }
  .banner .banner_left {
    background-position: 0px 0px;
    left: 0; }
    .banner .banner_left:hover {
      background-position: -75px 0px; }
  .banner .banner_right {
    background-position: -150px 0px;
    right: 0; }
    .banner .banner_right:hover {
      background-position: -225px 0px; }

.keep_walking {
  width: 100%;
  height: 350px;
  background-color: #333333; }
  .keep_walking .center {
    height: 350px;
    background-color: #454545;
    position: relative; }
    .keep_walking .center .keep_walking_text {
      width: 322px;
      padding: 0 80px;
      height: 100%;
      overflow: hidden;
      float: left; }
      .keep_walking .center .keep_walking_text .t1 {
        font-size: 30px;
        color: #4bb983;
        font-family: pingfang;
        font-weight: bold;
        line-height: 32px;
        margin-top: 81px;
        float: left; }
      .keep_walking .center .keep_walking_text .t2 {
        display: block;
        float: left;
        margin-top: 9px;
        width: 111px;
        height: 15px; }
      .keep_walking .center .keep_walking_text .t3 {
        float: left;
        font-size: 17px;
        margin: 7px 0 0 12px;
        color: #4bb983;
        font-family: pingfang;
        line-height: 17px; }
      .keep_walking .center .keep_walking_text .t4 {
        float: left;
        font-family: pingfang;
        font-size: 13px;
        line-height: 27px;
        color: #fff;
        margin-top: 20px; }
      .keep_walking .center .keep_walking_text .t5 {
        float: left;
        font-size: 18px;
        line-height: 18px;
        color: #4bb983;
        font-family: pingfang;
        margin-top: 15px; }
    .keep_walking .center .four_card {
      float: right; }
      .keep_walking .center .four_card .border {
        width: 2px;
        height: 350px;
        float: left;
        background: url(../images/border.png) 0 center no-repeat; }
      .keep_walking .center .four_card li {
        float: left;
        height: 350px;
        width: 227px;
        padding-left: 2px;
        margin-left: -2px;
        text-align: center;
        overflow: hidden;
        position: relative;
        z-index: 1;
        transition: all 0.3s; }
        .keep_walking .center .four_card li .icon1 {
          display: block;
          width: 58px;
          height: 58px;
          margin: 95px auto 0;
          background-size: 58px;
          background-repeat: no-repeat;
          background-position: center; }
        .keep_walking .center .four_card li .icon2 {
          display: none;
          width: 58px;
          height: 58px;
          margin: 95px auto 0;
          background-size: 58px;
          background-repeat: no-repeat;
          background-position: center; }
        .keep_walking .center .four_card li .title_c {
          font-family: pingfang;
          font-size: 18px;
          line-height: 18px;
          margin-top: 15px;
          text-align: center;
          color: #999999;
          transition: all 0.3s; }
        .keep_walking .center .four_card li .title_e {
          font-family: pingfang;
          font-size: 15px;
          line-height: 15px;
          margin-top: 10px;
          text-align: center;
          color: #999999;
          transition: all 0.3s; }
        .keep_walking .center .four_card li .text {
          display: inline-block;
          padding: 0 5px;
          color: #757575;
          font-family: pingfang;
          font-size: 13px;
          line-height: 13px;
          margin-top: 34px;
          position: relative;
          transition: all 0.3s; }
          .keep_walking .center .four_card li .text:before {
            content: '';
            position: absolute;
            width: 2px;
            height: 2px;
            background-color: #757575;
            top: 5px;
            left: -2px;
            transition: all 0.3s; }
        .keep_walking .center .four_card li .text1 {
          display: inline-block;
          padding: 0 5px;
          color: #757575;
          font-family: pingfang;
          font-size: 13px;
          line-height: 13px;
          margin-top: 34px;
          position: relative;
          transition: all 0.3s; }
          .keep_walking .center .four_card li .text1:before {
            content: '';
            position: absolute;
            width: 2px;
            height: 2px;
            background-color: #fff;
            top: 5px;
            left: -2px;
            transition: all 0.3s; }
        .keep_walking .center .four_card li .more {
          display: none;
          font-family: pingfang;
          font-size: 12px;
          line-height: 12px;
          color: #fff;
          margin-top: 15px;
          position: relative;
          z-index: 2; }
        .keep_walking .center .four_card li:hover {
          background-image: none; }
          .keep_walking .center .four_card li:hover .title_c, .keep_walking .center .four_card li:hover .title_e, .keep_walking .center .four_card li:hover .text {
            color: #fff; }
          .keep_walking .center .four_card li:hover .text:before {
            background-color: #fff; }
      .keep_walking .center .four_card .fc_on .icon1 {
        display: none; }
      .keep_walking .center .four_card .fc_on .icon2 {
        display: block; }
      .keep_walking .center .four_card .fc_on .more {
        display: block; }
    .keep_walking .center .fc_back {
      position: absolute;
      width: 229px;
      top: 0;
      height: 350px;
      background-color: #4bb983;
      z-index: 0;
      transition: all 0.3s; }
      .keep_walking .center .fc_back .border_box {
        width: 207px;
        height: 328px;
        position: absolute;
        top: 10px;
        left: 10px;
        border: 1px solid #fff;
        transition: all 0.3s;
        z-index: 1; }

.trans {
  transition: all .3s;
  backface-visibility: hidden; }

.case {
  width: 1395px;
  height: 710px;
  margin: 70px auto; }
  .case .case_item {
    width: 465px;
    height: 355px;
    float: left;
    position: relative;
    overflow: hidden; }
    .case .case_item .case_link {
      display: block;
      width: 465px;
      height: 355px;
      background-size: 465px 355px;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      z-index: 0; }
    .case .case_item .cover {
      position: absolute;
      z-index: 1;
      top: -100%;
      left: -100%;
      display: block;
      width: 465px;
      height: 355px;
      background-color: rgba(0, 0, 0, 0.4); }
      .case .case_item .cover .cover_logo {
        width: 123px;
        height: 42px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 42px;
        margin: 123px 0 0 120px;
        float: left; }
      .case .case_item .cover .tag_box {
        width: 120px;
        height: 42px;
        padding-left: 3px;
        border-left: 1px solid #b2b2b2;
        float: left;
        margin-top: 123px;
        margin-left: 10px; }
        .case .case_item .cover .tag_box li {
          float: left;
          margin-left: 6px;
          margin-bottom: 6px; }
          .case .case_item .cover .tag_box li a {
            padding: 0 5px;
            font-family: pingfang;
            font-size: 11px;
            line-height: 17px;
            height: 17px;
            background-color: #b2b2b2;
            color: #000;
            border-radius: 3px; }
            .case .case_item .cover .tag_box li a:hover {
              color: #fff;
              background-color: #4bb983; }
      .case .case_item .cover .name {
        float: left;
        width: 400px;
        border-top: 1px solid #b2b2b2;
        margin: 30px 32.5px 0;
        text-align: center;
        font-family: pingfang;
        font-size: 20px;
        line-height: 50px;
        color: #fff; }
        .case .case_item .cover .name:hover {
          color: #4bb983; }

.cooperation {
  margin-top: 112px;
  position: relative;
  overflow: visible; }
  .cooperation .title_c {
    font-size: 40px;
    line-height: 40px;
    color: #4c4c4c;
    text-align: center;
    font-family: pingfang; }
  .cooperation .title_sub {
    font-size: 14px;
    line-height: 14px;
    color: #4c4c4c;
    text-align: center;
    margin-top: 10px;
    font-family: pingfang; }
  .cooperation .num {
    text-align: center;
    margin-top: 42px; }
    .cooperation .num li {
      display: inline-block;
      margin: 0 50px; }
      .cooperation .num li .num_big {
        font-size: 40px;
        line-height: 40px;
        font-family: pingfang;
        text-align: center;
        color: #4c4c4c; }
      .cooperation .num li .num_title {
        font-size: 12px;
        line-height: 12px;
        color: #4c4c4c;
        font-family: pingfang;
        margin-top: 15px; }
  .cooperation .tempWrap {
    width: 1400px !important; }
  .cooperation .cooperation_slide {
    height: 173px; }
    .cooperation .cooperation_slide li {
      float: left; }
      .cooperation .cooperation_slide li a {
        display: block;
        width: 175px;
        height: 173px;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-filter: grayscale(100%);
        /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        transition: all 0.3s; }
      .cooperation .cooperation_slide li:hover a {
        -webkit-filter: grayscale(0%);
        /* Chrome, Safari, Opera */
        filter: grayscale(0%); }
  .cooperation .cs_left, .cooperation .cs_right {
    position: absolute;
    bottom: 74px;
    display: block;
    font-size: 24px;
    line-height: 24px;
    width: 14px;
    height: 24px;
    color: #b7b7b7;
    cursor: pointer; }
    .cooperation .cs_left:hover, .cooperation .cs_right:hover {
      color: #4bb983; }
  .cooperation .cs_left {
    left: -14px; }
  .cooperation .cs_right {
    right: -14px; }

.tsc {
  width: 100%;
  height: 320px;
  margin-top: 35px;
  margin-bottom: 58px;
  background-color: #737373; }
  .tsc .center {
    overflow: visible;
    width: 1398px;
    position: relative; }
    .tsc .center .tsc_item {
      width: 466px;
      float: left;
      height: 320px;
      position: relative;
      background-position: center 0;
      background-size: 466px 320px;
      background-repeat: no-repeat; }
    .tsc .center .tsc_box {
      position: absolute;
      width: 466px;
      height: 400px;
      top: -22px;
      left: 0;
      transition: all 0.3s; }
      .tsc .center .tsc_box .zz {
        width: 466px;
        height: 285px;
        overflow: hidden;
        transition: all 0.3s; }
        .tsc .center .tsc_box .zz .icon_box {
          width: 445px;
          height: 272px;
          border: 1px solid #fff;
          border-bottom: 0;
          margin: 12px auto 0; }
          .tsc .center .tsc_box .zz .icon_box .icon {
            width: 62px;
            height: 55px;
            margin: 76px auto 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 62px 55px;
            transition: all 0.3s; }
          .tsc .center .tsc_box .zz .icon_box .wl {
            width: 15px;
            height: 2px;
            background-color: #fff;
            margin: 20px auto 0; }
          .tsc .center .tsc_box .zz .icon_box .icon_tc {
            font-size: 16px;
            line-height: 16px;
            color: #fff;
            text-align: center;
            margin-top: 20px;
            transition: all 0.3s; }
          .tsc .center .tsc_box .zz .icon_box .icon_te {
            font-size: 12px;
            line-height: 12px;
            color: #fff;
            text-align: center;
            margin-top: 5px;
            transition: all 0.3s; }
      .tsc .center .tsc_box .text_box {
        width: 466px;
        height: 80px;
        background-color: #4bb983;
        text-align: center; }
        .tsc .center .tsc_box .text_box .text_tc {
          display: inline-block;
          font-size: 11px;
          line-height: 33px;
          border-bottom: 1px solid #fff;
          color: #fff;
          margin-top: 13px;
          transition: all 0.3s; }
        .tsc .center .tsc_box .text_box .text_num {
          font-size: 11px;
          line-height: 11px;
          color: #fff;
          margin-top: 12px;
          transition: all 0.3s; }
      .tsc .center .tsc_box .see_more {
        width: 466px;
        height: 35px;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center; }
        .tsc .center .tsc_box .see_more .see_more_link {
          font-size: 11px;
          line-height: 35px;
          color: #fff;
          transition: all 0.3s; }
          .tsc .center .tsc_box .see_more .see_more_link i {
            margin-left: 5px; }
          .tsc .center .tsc_box .see_more .see_more_link:hover {
            color: #4bb983; }

.dynamic {
  margin-top: 112px;
  position: relative;
  overflow: visible; }
  .dynamic .title_c {
    font-size: 40px;
    line-height: 40px;
    color: #4c4c4c;
    text-align: center;
    font-family: pingfang; }
  .dynamic .title_sub {
    font-size: 14px;
    line-height: 14px;
    color: #4c4c4c;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 55px;
    font-family: pingfang; }
  .dynamic .dynamic_box {
    width: 100%;
    height: 600px;
    background-color: #4bb983;
    position: relative;
    padding-top: 1px;
    margin-top: -1px; }
    .dynamic .dynamic_box:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 30px;
      top: -30px;
      left: 50%;
      margin-left: -0.5px;
      background-color: #4bb983; }
    .dynamic .dynamic_box .main_box {
      width: 1328px;
      height: 538px;
      padding-left: 10px;
      border: 1px solid #fff;
      margin: 30px;
      position: relative; }
      .dynamic .dynamic_box .main_box:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 32px;
        top: -32px;
        left: 50%;
        margin-left: -0.5px;
        background-color: #fff; }
      .dynamic .dynamic_box .main_box li {
        width: 208px;
        height: 390px;
        background-color: #fff;
        margin: 75px 28px 0;
        float: left;
        overflow: hidden;
        transition: all 0.3s; }
        .dynamic .dynamic_box .main_box li img {
          display: block; }
        .dynamic .dynamic_box .main_box li .item {
          width: 172px;
          margin: 6px auto;
          padding: 11px 11px 4px;
          border: 1px solid #fff; }
          .dynamic .dynamic_box .main_box li .item .dynamic_title {
            display: block;
            width: 172px;
            font-size: 16px;
            line-height: 20px;
            color: #737373;
            height: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            transition: all 0.3s; }
            .dynamic .dynamic_box .main_box li .item .dynamic_title:hover {
              text-decoration: underline; }
          .dynamic .dynamic_box .main_box li .item .dynamic_date {
            margin-top: 3px;
            font-size: 14px;
            line-height: 31px;
            color: #8c8c8c;
            border-bottom: 1px solid #cccccc;
            transition: all 0.3s; }
          .dynamic .dynamic_box .main_box li .item .dynamic_text {
            font-size: 12px;
            line-height: 21px;
            margin-top: 11px;
            color: #b2b2b2;
            overflow: hidden;
            transition: all 0.3s; }
        .dynamic .dynamic_box .main_box li:hover {
          background-color: #3f996d; }
          .dynamic .dynamic_box .main_box li:hover .dynamic_title {
            color: #fff; }
          .dynamic .dynamic_box .main_box li:hover .dynamic_date {
            color: #fff;
            border-bottom: 1px solid #fff; }
          .dynamic .dynamic_box .main_box li:hover .dynamic_text {
            color: #fff; }

.footer {
  width: 100%;
  height: 409px;
  background-color: #4d4d4d;
  margin-top: 100px;
  overflow: hidden; }
  .footer .link {
    margin-top: 53px;
    margin-left: 37px;
    height: 256px;
    float: left; }
    .footer .link li {
      width: 161px;
      margin-left: 32px;
      float: left;
      height: 256px;
      border-right: 1px solid #b2b2b2; }
      .footer .link li .title {
        font-family: pingfang;
        font-size: 18px;
        line-height: 41px;
        color: #a6a6a6;
        margin-top: 15px; }
      .footer .link li a {
        font-family: pingfang;
        font-size: 14px;
        line-height: 37px;
        display: block;
        color: #bfbfbf; }
        .footer .link li a:hover {
          color: #4bb983; }
      .footer .link li:last-child {
        border-right: 0; }
  .footer .footer_box {
    width: 290px;
    margin-right: 60px;
    margin-top: 72px;
    float: right; }
    .footer .footer_box .footer_logo {
      display: block;
      width: 182px;
      height: 76px;
      margin-left: 54px;
      background-image: url(../images/footerlogo.png);
      background-repeat: no-repeat; }
    .footer .footer_box .tel {
      font-size: 22px;
      line-height: 48px;
      height: 48px;
      color: #d9d9d9;
      text-align: center; }
    .footer .footer_box .som_box {
      height: 42px;
      margin-top: 3px;
      text-align: center;
      position: relative; }
      .footer .footer_box .som_box .qq {
        display: inline-block;
        width: 42px;
        height: 42px;
        background-image: url(../images/QQ.png);
        background-position: center; }
      .footer .footer_box .som_box button {
        display: block;
        width: 69px;
        height: 22px;
        border-radius: 3px;
        background-color: #4bb983;
        position: absolute;
        left: 47px;
        top: 6px; }
