// 移动端定义px自动转rem函数
// 设计图宽		比例
// 640px		1.875
// 740px		1.66
// 750px		1.6
@function torem($px) {
	@return $px * 1.6 / 100px * 1rem;
}

// 引入字体
@font-face {
	font-family: pingfang;
	src: url('../fonts/苹方黑体-准-简.ttf');
}
@font-face {
	font-family: langsong;
	src: url('../fonts/造字工房朗宋常规体.otf');
}

// 定义当前项目常用变量
$green: #4bb983;
$gray: #4d4d4d;

$tran: all 0.3s;


.center {
	width: 1400px;
	margin: 0 auto;
	overflow: hidden;
}

.header {
	height: 130px;
	.top_bar {
		width: 100%;
		overflow: hidden;
		background-color: $green;
		.top_bar_left {
			font-size: 0;
			float: left;
			span, a {
				// display: block;
				// float: left;
				font-size: 14px;
				line-height: 40px;
				color: #fff;
				padding: 0 15px;
				border-right: 2px solid #d9eee2;
			}
		}
		.top_bar_right {
			font-size: 0;
			float: right;
			a {
				font-size: 14px;
				line-height: 40px;
				color: #fff;
				padding: 0 15px;
				border-left: 2px solid #d9eee2;
				&:first-child {
					border-left: 0;
				}
			}
		}
	}
	.logo {
		display: block;
		width: 122px;
		height: 50px;
		float: left;
		background-image: url(../images/logo.png);
		background-position: center 0;
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 25px 20px 0 6px;
	}
	.contact_btn {
		display: block;
		float: left;
		width: 36px;
		height: 36px;
		padding: 5px 20px;
		border-left: 1px solid #cccccc;
		margin-top: 29px;
		i {
			display: block;
			width: 36px;
			height: 36px;
			background-image: url(../images/header.png);
		}
	}
	.weixin_qrcode {
		display: none;
		position: absolute;
		top: 105px;
		left: 169px;
		width: 154px;
		height: 180px;
		background-color: rgba(0,0,0, 0.3);
		overflow: hidden;
		z-index: 1;
		.qr_box {
			float: left;
			width: 126px;
			height: 165px;
			padding: 15px 15px 0;
			border-right: 1px solid #737373;
			img {
				width: 126px;
				height: 126px;
				display: block;
			}
			span {
				display: block;
				width: 100%;
				height: 40px;
				font-size: 16px;
				line-height: 40px;
				color: #fff;
				text-align: center;
			}
		}
	}
	.menu {
		float: right;
		margin-top: 25px;
		.fir_item {
			float: left;
			position: relative;
			padding-bottom: 25px;
			.fir_link {
				font-family: pingfang;
				display: block;
				padding: 0 25px;
				height: 40px;
				line-height: 40px;
				font-size: 16px;
				color: #727171;
				transition: $tran;
			}
			.sec_menu {
				display: none;
				position: absolute;
				margin-top: 25px;
				height: 52px;
				background-color: rgba(89,89,89, 0.8);
				text-align: center;
				z-index: 1;
				.sec_item {
					display: inline;
					.sec_link {
						 font-family: pingfang;
						font-size: 14px;
						line-height: 52px;
						color: #fff;
						padding: 0 15px;
						transition: $tran;
						&:hover {
							color: $green;
						}
					}
				}
			}
			&:hover {
				.sec_menu {
					display: block;
				}
			}
		}
		.menu_on {
			.fir_link {
				color: #fff;
				transition: $tran;
			}
		}
	}
	.back {
		position: absolute;
		height: 40px;
		top: 25px;
		z-index: -1;
		background-color: $green;
		transition: $tran;
	}
}


.banner {
	width: 100%;
	position: relative;
	height: 570px;
	a {
		display: block;
		width: 100%;
		height: 570px;
		background-position: center 0;
		background-repeat: no-repeat;
	}
	.banner_left, .banner_right {
		width: 70px;
		height: 180px;
		background-image: url(../images/banner_arrows.png);
		position: absolute;
		top: 195px;
		cursor: pointer;
	}
	.banner_left {
		background-position: 0px 0px;
		left: 0;
		&:hover {
			background-position: -75px 0px;
		}
	}
	.banner_right {
		background-position: -150px 0px;
		right: 0;
		&:hover {
			background-position: -225px 0px;
		}
	}
}


.keep_walking {
	width: 100%;
	height: 350px;
	background-color: #333333;
	.center {
		height: 350px;
		background-color: #454545;
		position: relative;
		.keep_walking_text {
			width: 322px;
			padding: 0 80px;
			height: 100%;
			overflow: hidden;
			float: left;
			.t1 {
				font-size: 30px;
				color: $green;
				font-family: pingfang;
				font-weight: bold;
				line-height: 32px;
				margin-top: 81px;
				float: left;
			}
			.t2 {
				display: block;
				float: left;
				margin-top: 9px;
				width: 111px;
				height: 15px;
			}
			.t3 {
				float: left;
				font-size: 17px;
				margin: 7px 0 0 12px;
				color: $green;
				font-family: pingfang;
				line-height: 17px;
			}
			.t4 {
				float: left;
				font-family: pingfang;
				font-size: 13px;
				line-height: 27px;
				color: #fff;
				margin-top: 20px;
			}
			.t5 {
				float: left;
				font-size: 18px;
				line-height: 18px;
				color: $green;
				font-family: pingfang;
				margin-top: 15px;
			}
		}
		.four_card {
			float: right;
			.border {
				width: 2px;
				height: 350px;
				float: left;
				background: url(../images/border.png) 0 center no-repeat;
			}
			li {
				float: left;
				height: 350px;
				width: 227px;
				padding-left: 2px;
				margin-left: -2px;
				text-align: center;
				overflow: hidden;
				position: relative;
				z-index: 1;
				transition: $tran;
				.icon1 {
					display: block;
					width: 58px;
					height: 58px;
					margin: 95px auto 0;
					background-size: 58px;
					background-repeat: no-repeat;
					background-position: center;
				}
				.bag {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,0);
					transition: $tran;
					.bord {
						overflow: hidden;
						width: 230px;
						height: 350px;
						border: 1px solid #fff;
						margin: -1px;
						transition: $tran;
						.icon2 {
							display: block;
							width: 58px;
							height: 58px;
							margin: 95px auto 0;
							opacity: 0;
							background-size: 58px;
							background-repeat: no-repeat;
							background-position: center;
							transition: $tran;
						}
						.title_c {
							font-family: pingfang;
							font-size: 18px;
							line-height: 18px;
							margin-top: 15px;
							text-align: center;
							color: #999999;
							transition: $tran;
						}
						.title_e {
							font-family: pingfang;
							font-size: 15px;
							line-height: 15px;
							margin-top: 10px;
							text-align: center;
							color: #999999;
							transition: $tran;
						}
						.text {
							display: inline-block;
							padding: 0 5px;
							color: #757575;
							font-family: pingfang;
							font-size: 13px;
							line-height: 13px;
							margin-top: 34px;
							position: relative;
							transition: $tran;
							&:before {
								content: '';
								position: absolute;
								width: 2px;
								height: 2px;
								background-color: #757575;
								top: 5px;
								left: -2px;
								transition: $tran;
							}
						}
						.text1 {
							display: inline-block;
							padding: 0 5px;
							color: #757575;
							font-family: pingfang;
							font-size: 13px;
							line-height: 13px;
							margin-top: 34px;
							position: relative;
							transition: $tran;
							&:before {
								content: '';
								position: absolute;
								width: 2px;
								height: 2px;
								background-color: #fff;
								top: 5px;
								left: -2px;
								transition: $tran;
							}
						}
						.more {
							display: block;
							font-family: pingfang;
							font-size: 12px;
							line-height: 12px;
							color: #fff;
							opacity: 0;
							margin-top: 15px;
							position: relative;
							z-index: 2;
						}
					}
				}
				&:hover {
					.bag {
						background-color: $green;
						.bord {
							width: 207px;
							height: 328px;
							border: 1px solid #fff;
							margin: 10px;
							.icon2 {
								opacity: 1;
								margin-top: 84px;
								transition: $tran;
							}
							.title_c,.title_e,.text {
								color: #fff;
							}
							.text:before {
								background-color: #fff;
							}
							.more {
								opacity: 1;
							}
						}
					}
				}
			}
		}
		.fc_back {
			position: absolute;
			width: 229px;
			top: 0;
			height: 350px;
			background-color: $green;
			z-index: 0;
			transition: $tran;
			.border_box {
				width: 207px;
				height: 328px;
				position: absolute;
				top: 10px;
				left: 10px;
				border: 1px solid #fff;
				transition: $tran;
				z-index: 1;
			}
		}
	}
}

.trans {
	transition: all .3s;
	backface-visibility: hidden;
}


.case {
	width: 1395px;
	height: 710px;
	margin: 70px auto;
	.case_item {
		width: 465px;
		height: 355px;
		float: left;
		position: relative;
		overflow: hidden;
		animation-duration: 0.7s;
		.case_link {
			display: block;
			width: 465px;
			height: 355px;
			background-size: 465px 355px;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
			z-index: 0;
		}
		.cover {
			position: absolute;
			z-index: 1;
			top: -100%;
			left: -100%;
			display: block;
			width: 465px;
			height: 355px;
			background-color: rgba(0,0,0, 0.4);
		}
		.beyond_cover {
			display: block;
			width: 465px;
			height: 355px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			.cover_logo {
				width: 123px;
				height: 42px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: auto 42px;
				margin: 123px 0 0 120px;
				float: left;
				opacity: 0;
			}
			.tag_box {
				width: 120px;
				height: 42px;
				padding-left: 3px;
				border-left: 1px solid #b2b2b2;
				float: left;
				margin-top: 123px;
				margin-left: 10px;
				opacity: 0;
				li {
					float: left;
					margin-left: 6px;
					margin-bottom: 6px;
					opacity: 0;
					a {
						padding: 0 5px;
						font-family: pingfang;
						font-size: 11px;
						line-height: 17px;
						height: 17px;
						background-color: #b2b2b2;
						color: #000;
						border-radius: 3px;
						opacity: 0;
						&:hover {
							color: #fff;
							background-color: $green;
							opacity: 0;
						}
					}
				}
			}
			.name {
				float: left;
				width: 400px;
				border-top: 1px solid #b2b2b2;
				margin: 30px 32.5px 0;
				text-align: center;
				font-family: pingfang;
				font-size: 20px;
				line-height: 50px;
				color: #fff;
				opacity: 0;
				animation-delay: 0.3s;
				&:hover {
					color: $green;
					opacity: 0;
				}
			}
			&:hover {
				.cover_logo {
					opacity: 1;
				}
				.tag_box {
					opacity: 1;
					li {
						opacity: 1;
						a {
							opacity: 1;
						}
					}
				}
				.name {
					opacity: 1;
				}
			}
		}
	}
}


.cooperation {
	margin-top: 112px;
	position: relative;
	overflow: visible;
	.title_c {
		font-size: 40px;
		line-height: 40px;
		color: #4c4c4c;
		text-align: center;
		font-family: pingfang;
	}
	.title_sub {
		font-size: 14px;
		line-height: 14px;
		color: #4c4c4c;
		text-align: center;
		margin-top: 10px;
		font-family: pingfang;
	}
	.num {
		text-align: center;
		margin-top: 42px;
		li {
			display: inline-block;
			margin: 0 50px;
			.num_big {
				font-size: 40px;
				line-height: 40px;
				font-family: pingfang;
				text-align: center;
				color: #4c4c4c;
			}
			.num_title {
				font-size: 12px;
				line-height: 12px;
				color: #4c4c4c;
				font-family: pingfang;
				margin-top: 15px;
			}
		}
	}
	.tempWrap {
		width: 1400px!important;
	}
	.cooperation_slide {
		height: 173px;
		li {
			float: left;
			a {
				display: block;
				width: 175px;
				height: 173px;
				background-position: center;
				background-repeat: no-repeat;
				-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
				filter: grayscale(100%);
				transition: all 0.3s;
			}
			&:hover {
				a {
					-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
					filter: grayscale(0%);
				}
			}
		}
	}
	.cs_left,.cs_right {
		position: absolute;
		bottom: 74px;
		display: block;
		font-size: 24px;
		line-height: 24px;
		width: 14px;
		height: 24px;
		color: #b7b7b7;
		cursor: pointer;
		&:hover {
			color: $green;
		}
	}
	.cs_left {
		left: -14px;
	}
	.cs_right {
		right: -14px;
	}
}





.tsc {
	width: 100%;
	height: 320px;
	margin-top: 35px;
	margin-bottom: 58px;
	background-color: #737373;
	.center {
		overflow: visible;
		width: 1398px;
		position: relative;
		.tsc_item {
			width: 466px;
			float: left;
			height: 320px;
			position: relative;
			img {
				display: block;
				width: 466px;
				height: 320px;
			}
			.tsc_box {
			position: absolute;
			width: 466px;
			height: 400px;
			top: -22px;
			left: 0;
			opacity: 0;
			z-index: -1;
			transition: $tran;
				.zz {
					width: 466px;
					height: 285px;
					overflow: hidden;
					transition: $tran;
					.icon_box {
						animation-delay: 0.2s;
						width: 467px;
						height: 285px;
						border: 1px solid #fff;
						border-bottom: 0;
						margin: 0;
						transition: $tran;
						.icon {
							animation-delay: 0.3s;
							width: 62px;
							height: 55px;
							margin: 76px auto 0;
							background-position: center;
							background-repeat: no-repeat;
							// background-size: 62px 55px;
							transition: $tran;
						}
						.wl {
							animation-delay: 0.4s;
							width: 15px;
							height: 2px;
							background-color: #fff;
							margin: 20px auto 0;
						}
						.icon_tc {
							animation-delay: 0.5s;
							font-size: 16px;
							line-height: 16px;
							color: #fff;
							text-align: center;
							margin-top: 20px;
							transition: $tran;
						}
						.icon_te {
							animation-delay: 0.6s;
							font-size: 12px;
							line-height: 12px;
							color: #fff;
							text-align: center;
							margin-top: 5px;
							transition: $tran;
						}
					}
				}
				.text_box {
					width: 466px;
					height: 80px;
					background-color: $green;
					text-align: center;
					.text_tc {
						animation-delay: 0.2s;
						display: inline-block;
						font-size: 11px;
						line-height: 33px;
						border-bottom: 1px solid #fff;
						color: #fff;
						margin-top: 13px;
						transition: $tran;
					}
					.text_num {
						animation-delay: 0.3s;
						font-size: 11px;
						line-height: 11px;
						color: #fff;
						margin-top: 12px;
						transition: $tran;
					}
				}
				.see_more {
					width: 466px;
					height: 35px;
					background-color: rgba(0,0,0, 0.6);
					text-align: center;
					.see_more_link {
						animation-delay: 0.2s;
						font-size: 11px;
						line-height: 35px;
						color: #fff;
						transition: $tran;
						i {
							margin-left: 5px;
						}
						&:hover {
							color: $green;
						}
					}
				}
			}
			&:hover {
				.tsc_box {
					opacity: 1;
					z-index: 0;
					.icon_box {
						width: 445px;
						margin: 12px auto 0;
					}
				}
			}
		}
	}
}




.dynamic {
	margin-top: 112px;
	position: relative;
	overflow: visible;
	.title_c {
		font-size: 40px;
		line-height: 40px;
		color: #4c4c4c;
		text-align: center;
		font-family: pingfang;
	}
	.title_sub {
		font-size: 14px;
		line-height: 14px;
		color: #4c4c4c;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 55px;
		font-family: pingfang;
	}
	.dynamic_box {
		width: 100%;
		height: 600px;
		background-color: $green;
		position: relative;
		padding-top: 1px;
		margin-top: -1px;
		&:before {
			content: '';
			position: absolute;
			width: 1px;
			height: 30px;
			top: -30px;
			left: 50%;
			margin-left: -0.5px;
			background-color: $green;
		}
		.main_box {
			width: 1357px;
			height: 568px;
			padding-left: 41px;
			padding-top: 30px;
			border: 1px solid rgba(0,0,0,0);
			margin: 0px;
			position: relative;
			transition: $tran;
			&:before {
				content: '';
				position: absolute;
				width: 1px;
				height: 32px;
				top: -34px;
				left: 50%;
				margin-left: -0.5px;
				background-color: #fff;
			}
		}
		.main_box2 {
			width: 1320px;
			height: 568px;
			padding-top: 30px;
			border: 1px solid rgba(0,0,0,0);
			margin: 0px auto;
			position: absolute;
			top: 0;
			left: 40px;
			transition: $tran;
			li {
				width: 208px;
				height: 390px;
				background-color: #fff;
				margin: 75px 28px 0;
				float: left;
				overflow: hidden;
				transition: $tran;
				img {
					display: block;
				}
				.item {
					width: 166px;
					margin: 6px auto;
					padding: 11px 14px 4px;
					border: 1px solid #fff;
					position: relative;
					.dynamic_title {
						display: block;
						width: 166px;
						font-size: 16px;
						line-height: 20px;
						color: #737373;
						height: 20px;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						transition: $tran;
						&:hover {
							text-decoration: underline;
						}
					}
					.dynamic_date {
						margin-top: 3px;
						font-size: 14px;
						line-height: 31px;
						color: #8c8c8c;
						transition: $tran;
					}
					.dy_line {
						width: 166px;
						height: 1px;
						background-color: #fff;
						margin: 0 auto;
						transition: $tran;
					}
					.dynamic_text {
						font-size: 12px;
						line-height: 21px;
						margin-top: 11px;
						color: #b2b2b2;
						text-align: justify;
						overflow: hidden;
						transition: $tran;
					}
				}
				&:hover {
					background-color: #3f996d;
					.dynamic_title {
						font-size: 14px;
						color: #fff;
					}
					.dynamic_date {
						font-size: 12px;
						color: #fff;
					}
					.dy_line {
						background-color: #fff;
						width: 100px;
					}
					.dynamic_text {
						color: #fff;
					}
				}
			}
		}
		&:hover {
			.main_box {
				width: 1328px;
				height: 538px;
				margin: 30px;
				padding-left: 10px;
				padding-top: 0;
				border: 1px solid #fff;
			}
		}
	}
}



.footer {
	width: 100%;
	height: 409px;
	background-color: #4d4d4d;
	margin-top: 100px;
	overflow: hidden;
	.link {
		margin-top: 53px;
		margin-left: 37px;
		height: 256px;
		float: left;
		li {
			width: 161px;
			margin-left: 32px;
			float: left;
			height: 256px;
			border-right: 1px solid #b2b2b2;
			.title {
				font-family: pingfang;
				font-size: 18px;
				line-height: 41px;
				color: #a6a6a6;
				margin-top: 15px;
			}
			a {
				font-family: pingfang;
				font-size: 14px;
				line-height: 37px;
				display: block;
				color: #bfbfbf;
				&:hover {
					color: $green;
				}
			}
			&:last-child {
				border-right: 0;
			}
		}
	}
	.footer_box {
		width: 290px;
		margin-right: 60px;
		margin-top: 72px;
		float: right;
		.footer_logo {
			display: block;
			width: 182px;
			height: 76px;
			margin-left: 54px;
			background-image: url(../images/footerlogo.png);
			background-repeat: no-repeat;
		}
		.tel {
			font-size: 22px;
			line-height: 48px;
			height: 48px;
			color: #d9d9d9;
			text-align: center;
		}
		.som_box {
			height: 42px;
			margin-top: 3px;
			text-align: center;
			position: relative;
			background-image: url(../images/footer2.png);
			background-repeat: no-repeat;
			background-position: 100px 0;
			.qq {
				display: block;
				width: 42px;
				height: 42px;
				background-image: url(../images/QQ.png);
				background-position: center;
				position: absolute;
				left: 53px;
				top: 0;
			}
			button {
				display: block;
				width: 69px;
				height: 22px;
				padding: 0;
				border-radius: 3px;
				background-color: #b3b3b3;
				position: absolute;
				left: 101px;
				top: 3px;
				color: #1a1a1a;
				cursor: pointer;
				transition: $tran;
				&:hover {
					color: #fff;
					background-color: #4bb983;
				}
			}
		}
		.copyright {
			text-align: center;
			font-size: 12px;
			color: #b2b2b2;
			line-height: 17px;
			margin-top: 15px;
		}
	}
}


.ny_banner {
	width: 100%;
	height: 320px;
	background-color: $green;
	.title_c {
		font-size: 38px;
		font-family: pingfang;
		line-height: 38px;
		text-align: center;
		color: #fff;
		margin-top: 97px;
	}
	.title_e {
		font-size: 18px;
		line-height: 18px;
		font-family: pingfang;
		text-align: center;
		color: #fff;
		margin-top: 24px;
	}
	.icon {
		text-align: center;
		margin-top: 20px;
		li {
			display: inline-block;
			background-image: url(../images/header.png);
			width: 38px;
			height: 36px;
			background-repeat: no-repeat;
			margin: 0 19px;
		}
	}
}


.about_main {
	.title_c {
		font-size: 24px;
		line-height: 24px;
		color: #404040;
		font-family: pingfang;
		text-align: center;
		margin-top: 75px;
	}
	.title_e {
		font-size: 18px;
		line-height: 18px;
		color: #808080;
		text-align: center;
		margin-top: 7px;
		font-family: pingfang;
	}
	.sec_title {
		font-size: 20px;
		line-height: 20px;
		color: #595959;
		text-align: center;
		margin-top: 50px;
		font-family: pingfang;
	}
	.sec_main {
		font-size: 14px;
		line-height: 25px;
		color: #737373;
		text-align: center;
		font-family: pingfang;
		margin-top: 15px;
		margin-bottom: 45px;
	}
	.vans_img {
		display: block;
		width: 100%;
	}
	.vans_fac {
		width: 100%;
		height: 433px;
		margin-top: 82px;
		border-bottom: 1px dashed rgba(13,28,54,0.2);
		li {
			width: 466px;
			height: 373px;
			border-right: 1px solid #737373;
			float: left;
			.icon {
				width: 74px;
				height: 65px;
				margin: 40px auto 0;
			}
			.title {
				font-size: 26px;
				line-height: 26px;
				color: #404040;
				text-align: center;
				margin-top: 28px;
				font-family: pingfang;
				font-weight: bold;
			}
			.sub {
				font-size: 18px;
				line-height: 18px;
				font-family: pingfang;
				color: #595959;
				margin-top: 13px;
				text-align: center;
			}
			.main {
				font-size: 15px;
				line-height: 27px;
				color: #737373;
				font-family: pingfang;
				text-align: left;
				width: 300px;
				margin: 40px auto 0
			}
			&:last-child {
				border-right: 0;
			}
		}
	}
	.team_pic {
		width: 1445px;
		height: 658px;
		li {
			width: 289px;
			height: 329px;
			float: left;
			img {
				display: block;
			}
		}
	}
}




.contact_box {
	padding-top: 60px;
	width: 100%;
	padding-bottom: 60px;
	border-bottom: 1px solid #e8e8e8;
	// background-color: #f2f2f2;
	overflow: hidden;
	.center {
		width: 973px!important;
		overflow: hidden;
		.con_left {
			width: 430px;
			float: left;
			.smlogo {
				img {
					display: block;
				}
			}
			.t1 {
				font-size: 14px;
				line-height: 26px;
				color: #4c4c4c;
				padding-top: 8px;
				border-top: 1px solid #e8e8e8;
				margin-top: 15px;
				text-align: justify;
			}
			.t2 {
				margin-top: 45px;
				font-size: 20px;
				line-height: 26px;
				color: #4c4c4c;
			}
			.t3 {
				font-size: 14px;
				line-height: 26px;
				color: #4c4c4c;
				margin-top: 15px;
			}
			.t4 {
				margin-top: 50px;
				img {
					display: block;
				}
			}
		}
		.con_form {
			width: 464px;
			float: right;
			input {
				display: block;
				width: 444px;
				padding: 0 10px;
				height: 40px;
				border: 0;
				outline: 0;
				background-color: #f2f2f2;
				margin-bottom: 10px;
			}
			textarea {
				display: block;
				width: 444px;
				height: 206px;
				padding: 10px;
				border: 0;
				outline: 0;
				background-color: #f2f2f2;
				margin-bottom: 10px;
				resize: none;
			}
			.submit {
				width: 464px;
				background-color: $green;
				color: #fff;
				cursor: pointer;
			}
		}
	}
}



.contact_box2 {
	padding-top: 60px;
	padding-bottom: 60px;
	border: 1px solid #e8e8e8;
	.center {
		width: 1050px!important;
		text-align: center;
		font-size: 0;
		.cm {
			display: inline-block;
			width: 268px;
			height: 268px;
			margin: 0 40px;
			border: 1px solid #fff;
			transition: $tran;
			a {
				display: block;
				.icon {
					display: block;
					width: 148px;
					height: 148px;
					margin: 45px auto 0;
					background-position: center;
					background-repeat: no-repeat;
				}
				.text {
					display: block;
					font-size: 14px;
					line-height: 26px;
					text-align: center;
					color: #4c4c4c;
				}
			}
			&:hover {
				border: 1px solid #000;
			}
		}
	}
}


.contact_box3 {
	margin-top: 55px;
	margin-bottom: 60px;
	.title {
		font-size: 28px;
		line-height: 30px;
		color: #333333;
		text-align: center;
	}
	.rl {
		width: 100px;
		height: 2px;
		background-color: #f00;
		margin: 40px auto 0;
	}
	.text {
		font-size: 14px;
		line-height: 26px;
		text-align: center;
		color: #4c4c4c;
		margin-top: 35px;
	}
}



.join_box {
	width: 1314px;
	border-top: 1px solid #d9d9d9;
	margin: 60px auto 0;
	overflow: hidden;
	.join_left {
		float: left;
		width: 233px;
		.title_c {
			font-size: 20px;
			line-height: 20px;
			color: #595959;
			font-family: pingfang;
			margin-top: 50px;
		}
		.title_e {
			font-size: 18px;
			line-height: 18px;
			color: #808080;
			font-family: pingfang;
			margin-top: 9px;
			padding-bottom: 20px;
			border-bottom: 1px solid #d9d9d9;
		}
		.text_c {
			font-size: 14px;
			line-height: 24px;
			color: #808080;
			font-family: pingfang;
			margin-top: 9px;
			padding-bottom: 11px;
			border-bottom: 1px solid #d9d9d9;
		}
		.text_e {
			font-size: 10px;
			line-height: 14px;
			color: #999999;
			font-family: pingfang;
			margin-top: 16px;
		}
	}
	.join_right {
		float: right;
		width: 1023px;
		margin-top: 50px;
		padding-right: 5px;
		li {
			height: 185px;
			margin-bottom: 70px;
			.job {
				float: left;
				width: 229px;
				height: 185px;
				background-color: $green;
				font-size: 28px;
				color: #fff;
				line-height: 185px;
				text-align: center;
				box-shadow: 0px 2px 8px 0px rgba(35, 24, 21, 0.25);
			}
			.card {
				padding-left: 58px;
				width: 706px;
				height: 185px;
				float: right;
				background-color: #fff;
				box-shadow: 0 0 5px rgba(35,24,21, 0.25);
				position: relative;
				box-shadow: 0px 2px 8px 0px rgba(35, 24, 21, 0.25);
				.ask {
					font-size: 16px;
					line-height: 16px;
					color: #666666;
					font-weight: bold;
					font-family: pingfang;
					margin-top: 50px;
					transition: $tran;
				}
				.main {
					width: 406px;
					font-size: 14px;
					line-height: 22px;
					color: #737373;
					margin-top: 10px;
					font-family: pingfang;
					transition: $tran;
				}
				.icon {
					width: 255px;
					height: 165px;
					margin: 10px 0;
					background-position: center;
					background-repeat: no-repeat;
					position: absolute;
					top: 0;
					right: 0;
					border-left: 1px dashed #d9d9d9;
				}
				.text {
					opacity: 0;
					width: 255px;
					height: 165px;
					margin: 10px 0;
					background-color: #fff;
					position: absolute;
					top: 0;
					right: 0;
					border-left: 1px dashed #d9d9d9;
					transition: $tran;
					span {
						display: block;
						width: 190px;
						margin: 65px auto 0;
						font-size: 14px;
						line-height: 22px;
						color: $green;
					}
				}
				&:hover {
					.ask {
						color: $green;
					}
					.main {
						color: $green;
					}
					.text {
						opacity: 1;
					}
				}
			}
		}
	}
}



.price_box {
	padding-bottom: 50px;
	.vip {
		width: 1153px;
		padding: 0 124px 45px;
		margin-top: 89px;
		border-bottom: 1px dashed $green;
		overflow: hidden;
		.left {
			float: left;
			.gb1 {
				width: 51px;
				height: 5px;
				background-color: $green;
			}
			.title_c {
				font-family: pingfang;
				font-size: 47px;
				line-height: 47px;
				font-weight: bold;
				color: #8c8c8c;
				margin-top: 30px;
			}
			.title_e {
				font-family: pingfang;
				font-size: 28px;
				line-height: 28px;
				color: #8c8c8c;
				margin-top: 12px;
			}
			.gb2 {
				width: 102px;
				height: 5px;
				background-color: $green;
				margin-top: 32px;
			}
			.sub1 {
				font-family: pingfang;
				font-size: 28px;
				line-height: 28px;
				color: $green;
				margin-top: 42px;
			}
			.sub2 {
				font-size: 20px;
				line-height: 20px;
				color: #8c8c8c;
				font-family: pingfang;
				margin-top: 15px;
			}
		}
		.card,.card_on {
			float: right;
		}
		.card_on {
			width: 329px;
			height: 252px;
			background-color: $green;
			position: relative;
			transition: $tran;
			.cate {
				font-size: 48px;
				line-height: 48px;
				color: #fff;
				font-family: pingfang;
				margin-top: 51px;
				margin-left: 39px;
			}
			.price {
				font-size: 41px;
				line-height: 41px;
				color: #fff;
				font-family: pingfang;
				margin-top:29px;
				margin-left: 39px;
				.yuan {
					font-size: 24px;
					line-height: 24px;
					color: #fff;
					font-family: pingfang;
					position: relative;
					left: -15px;
				}
				.per {
					font-size: 24px;
					line-height: 24px;
					color: #fff;
					font-family: pingfang;
					position: relative;
					left: -15px;
				}
			}
			.con {
				display: block;
				width: 117px;
				height: 35px;
				font-size: 16px;
				line-height: 35px;
				color: $green;
				text-align: center;
				border-radius: 17.5px;
				background-color: #fff;
				margin-top: 20px;
				margin-left: 39px;
				position: relative;
				z-index: 2;
			}
			.gb3 {
				position: absolute;
				width: 30px;
				height: 4px;
				background-color: #fff;
				top: 57px;
				right: 30px;
			}
			.border {
				position: absolute;
				width: 307px;
				height: 230px;
				border: 1px solid #fff;
				left: 10px;
				top: 10px;
				z-index: 1;
				transition: $tran;
			}
		}

		.card {
			width: 329px;
			height: 252px;
			background-color: #fff;
			position: relative;
			.cate {
				font-size: 48px;
				line-height: 48px;
				color: #8c8c8c;
				font-family: pingfang;
				margin-top: 51px;
				margin-left: 39px;
			}
			.price {
				font-size: 41px;
				line-height: 41px;
				color: $green;
				font-family: pingfang;
				margin-top:29px;
				margin-left: 39px;
				.yuan {
					font-size: 24px;
					line-height: 24px;
					color: $green;
					font-family: pingfang;
					position: relative;
					left: -15px;
				}
				.per {
					font-size: 24px;
					line-height: 24px;
					color: #8c8c8c;
					font-family: pingfang;
					position: relative;
					left: -15px;
				}
			}
			.con {
				display: block;
				width: 117px;
				height: 35px;
				font-size: 16px;
				line-height: 35px;
				color: $green;
				text-align: center;
				border-radius: 17.5px;
				background-color: #fff;
				margin-top: 20px;
				margin-left: 39px;
				position: relative;
				z-index: 2;
			}
			.gb3 {
				position: absolute;
				width: 30px;
				height: 4px;
				background-color: #8c8c8c;
				top: 57px;
				right: 30px;
			}
			.border {
				position: absolute;
				width: 327px;
				height: 250px;
				border: 1px solid #8c8c8c;
				left: 0px;
				top: 0px;
				z-index: 1;
			}
		}
	}
	.general {
		width: 1153px;
		padding: 0 124px 45px;
		margin-top: 89px;
		overflow: hidden;
		.left {
			float: left;
			.gb1 {
				width: 51px;
				height: 5px;
				background-color: $green;
			}
			.title_c {
				font-family: pingfang;
				font-size: 47px;
				line-height: 47px;
				font-weight: bold;
				color: #8c8c8c;
				margin-top: 30px;
			}
			.title_e {
				font-family: pingfang;
				font-size: 28px;
				line-height: 28px;
				color: #8c8c8c;
				margin-top: 12px;
			}
			.gb2 {
				width: 102px;
				height: 5px;
				background-color: $green;
				margin-top: 32px;
			}
			.sub1 {
				font-family: pingfang;
				font-size: 28px;
				line-height: 28px;
				color: $green;
				margin-top: 42px;
			}
			.sub2 {
				font-size: 20px;
				line-height: 20px;
				color: #8c8c8c;
				font-family: pingfang;
				margin-top: 15px;
			}
		}
		.card2 {
			float: right;
		}
		.card2 {
			width: 217px;
			height: 252px;
			background-color: #fff;
			position: relative;
			margin-left: 40px;
			.cate {
				font-size: 48px;
				line-height: 48px;
				color: #8c8c8c;
				font-family: pingfang;
				margin-top: 51px;
				margin-left: 39px;
			}
			.price {
				font-size: 41px;
				line-height: 41px;
				height: 41px;
				color: $green;
				font-family: pingfang;
				margin-top:29px;
				margin-left: 39px;
				.yuan {
					font-size: 24px;
					line-height: 24px;
					color: $green;
					font-family: pingfang;
					position: relative;
					left: -15px;
				}
				.give {
					font-size: 20px;
					color: $green;
					line-height: 20px;
					font-family: pingfang;
				}
			}
			.price_r {
				position: relative;
				top: -17px;
			}
			.con {
				display: block;
				width: 117px;
				height: 35px;
				font-size: 16px;
				line-height: 35px;
				color: $green;
				text-align: center;
				border-radius: 17.5px;
				background-color: #fff;
				margin-top: 20px;
				margin-left: 39px;
				position: relative;
				z-index: 2;
				border: 1px solid $green;
				transition: $tran;
				&:hover {
					background-color: $green;
					color: #fff;
				}
			}
			.border {
				position: absolute;
				width: 215px;
				height: 250px;
				border: 1px solid #8c8c8c;
				left: 0px;
				top: 0px;
				z-index: 1;
			}
		}
		.card2_on {
			float: right;
			width: 217px;
			height: 252px;
			background-color: $green;
			position: relative;
			margin-left: 40px;
			transition: $tran;
			.cate {
				font-size: 48px;
				line-height: 48px;
				color: #fff;
				font-family: pingfang;
				margin-top: 51px;
				margin-left: 39px;
			}
			.price {
				font-size: 41px;
				line-height: 41px;
				height: 41px;
				color: #fff;
				font-family: pingfang;
				margin-top:29px;
				margin-left: 39px;
				.yuan {
					font-size: 24px;
					line-height: 24px;
					color: #fff;
					font-family: pingfang;
					position: relative;
					left: -15px;
				}
				.give {
					font-size: 20px;
					color: #fff;
					line-height: 20px;
					font-family: pingfang;
				}
			}
			.price_r {
				position: relative;
				top: -17px;
			}
			.con {
				display: block;
				width: 117px;
				height: 35px;
				font-size: 16px;
				line-height: 35px;
				color: $green;
				text-align: center;
				border-radius: 17.5px;
				background-color: #fff;
				margin-top: 20px;
				margin-left: 39px;
				position: relative;
				z-index: 2;
				border: 1px solid $green;
				transition: $tran;
			}
			.border {
				position: absolute;
				width: 195px;
				height: 230px;
				border: 1px solid #fff;
				left: 10px;
				top: 10px;
				z-index: 1;
				transition: $tran;
			}
		}
	}
	.tobe {
		width: 1262px;
		margin: 0 auto;
		color: $green;
		tr {
			width: 1262px;
			height: 70px;
			td {
				text-align: center;
				border: 1px solid $green;
				font-size: 20px;
				font-family: pingfang;
			}
		}
	}


	.price_grid {
		width: 100%;
		.price_for {
			margin: 100px auto 70px;
			width: 1320px;
			text-align: center;
			height: 55px;
			font-size: 0;
			li {
				display: inline-block;
				margin: 0 18px;
				width: 153px;
				height: 55px;
				text-align: center;
				line-height: 55px;
				font-size: 16px;
				font-family: pingfang;
				border: 1px solid #737373;
				border-radius: 5px;
				cursor: pointer;
				transition: $tran;
				&:hover {
					background-color: $green;
					color: #fff;
					border: 1px solid $green;
				}
			}
			.on {
				background-color: $green;
				color: #fff;
				border: 1px solid $green;
			}
		}
		.grid_box {
			width: 100%;
			font-family: pingfang;
			.bottom_table {
				margin: 0 40px;
				.botr1 {
					height: 130px;
					border-bottom: 1px solid #b3b3b3;
				}
				.botr2 {
					height: 246px;
					border-bottom: 1px solid #b3b3b3;
				}
			}
			.t1 {
				font-size: 24px;
				line-height: 24px;
				color: #737373;
			}
			.t2 {
				font-size: 18px;
				line-height: 18px;
				margin-top: 9px;
				color: #8c8c8c;
			}
			.t3 {
				font-family: langsong;
				font-size: 60px;
				display: inline-block;
				line-height: 60px;
				color: $green;
			}
			.t4 {
				font-size: 18px;
				display: inline-block;
				color: #737373;
			}
			.t5 {
				font-size: 15px;
				color: #737373;
			}
			.t6 {
				font-size: 20px;
				color: #737373;
			}
			.t7 {
				font-size: 24px;
				color: #ff0000;
				line-height: 24px;
				span {
					display: inline-block;
					width: 73px;
					text-align: justify;
					text-align-last: justify;
					font-size: 16px;
					color: #737373;
				}
			}
			.t72 {
				margin-top: 20px;
			}
			.consult {
				margin: 35px auto 0;
				display: block;
				width: 162px;
				height: 49px;
				text-align: center;
				font-size: 20px;
				color: #737373;
				background-color: #fff;
				border: 1px solid #737373;
				line-height: 49px;
				border-radius: 5px;
				transition: $tran;
				&:hover {
					background-color: $green;
					color: #fff;
					border: 1px solid $green;
				}
			}
			.l1 {
				width: 305px;
				text-align: left;
				padding-left: 102px;
				border-right: 1px solid #b3b3b3;
			}
			.l2 {
				width: 317px;
				text-align: left;
				padding-left: 50px;
				border-right: 1px solid #b3b3b3;
			}
			.c1 {
				width: 247px;
				text-align: center;
				border-right: 1px solid #b3b3b3;
			}
			.c2 {
				width: 247px;
				text-align: center;
				border-right: 1px solid #b3b3b3;
			}
			.c3 {
				width: 208px;
				text-align: center;
			}
			.have {
				background-image: url(../images/have.png);
				background-repeat: no-repeat;
				background-position: center;
			}
			.donthave {
				background-image: url(../images/donthave.png);
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	.down {
		margin: 55px auto 0;
		width: 1320px;
		height: 200px;
		background-repeat: no-repeat;
		background-position: center 0;
		overflow: hidden;
		.title {
			font-family: pingfang;
			font-size: 24px;
			line-height: 24px;
			font-family: pingfang;
			color: #fff;
			text-align: center;
			margin-top: 53px;
		}
		.down_btn {
			font-family: pingfang;
			display: block;
			width: 156px;
			height: 52px;
			line-height: 52px;
			color: #fff;
			border: 1px solid #fff;
			border-radius: 5px;
			font-size: 24px;
			background-color: rgba(75,185,131,0);
			text-align: center;
			margin: 28px auto 0;
			transition: $tran;
			&:hover {
				background-color: rgba(75,185,131,1);
				border: 1px solid $green;
			}
		}
	}
}




.case_box {
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
	.classify {
		height: 109px;
		text-align: center;
		font-size: 0;
		position: relative;
		margin-bottom: 50px;
		border-bottom: 1px solid #d9d9d9;
		transition: $tran;
		.ci1 {
			width: 102px;
			height: 34px;
			line-height: 34px;
			text-align: center;
			font-size: 16px;
			font-family: pingfang;
			display: inline-block;
			background-color: #737373;
			color: #fff;
			margin: 50px 15px 0;
			transition: $tran;
			.cl1 {
				display: block;
				color: #fff;
			}
			.subclassify {
				display: none;
				position: absolute;
				left: 0;
				width: 100%;
				height: 30px;
				padding-top: 25px;
				margin-bottom: 55px;
				text-align: center;
				font-size: 0;
				.son {
					background-color: $green;
					.cl2 {
						color: #fff!important;
					}
				}
				.ci2 {
					width: 100px;
					height: 30px;
					line-height: 30px;
					font-size: 14px;
					font-family: pingfang;
					display: inline-block;
					margin: 25px 10px 0;
					.cl2 {
						display: block;
						color: #737373;
					}
					&:hover {
						background-color: $green;
						.cl2 {
							color: #fff!important;
						}
					}
				}
			}
			&:hover {
				background-color: $green;
			}
		}
		.on {
			background-color: $green;
		}
	}
	.case_list {
		width: 1455px;
		overflow: hidden;
		li {
			width: 430px;
			height: 324px;
			margin-right: 55px;
			margin-bottom: 29px;
			float: left;
			position: relative;
			.img {
				display: block;
				width: 100%;
				height: 324px;
				overflow: hidden;
				img {
					display: block;
					height: 100%;
				}
			}
			.sha {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				background-color: $green;
				transition: $tran;
				.t1 {
					animation-delay: 0.4s;
					font-size: 12px;
					line-height: 12px;
					color: #fff;
					position: absolute;
					top: 22px;
					left: 20px;
				}
				.t2 {
					animation-delay: 0.5s;
					font-size: 12px;
					line-height: 12px;
					color: #fff;
					position: absolute;
					top: 37px;
					left: 20px;
				}
				.t3 {
					animation-delay: 0.6s;
					width: 16px;
					height: 2px;
					background-color: #fff;
					position: absolute;
					top: 56px;
					left: 20px;
				}
				.t4 {
					animation-delay: 0.7s;
					display: block;
					text-align: center;
					margin-top: 140px;
					font-size: 16px;
					line-height: 20px;
					color: #fff;
					&:hover {
						text-decoration: underline;
					}
				}
				.t5 {
					animation-delay: 0.8s;
					font-size: 12px;
					text-align: center;
					margin-top: 10px;
					line-height: 12px;
					color: #fff;
				}
				.t6 {
					animation-delay: 0.9s;
					position: absolute;
					width: 22px;
					height: 22px;
					border: 2px solid #fff;
					border-radius: 50%;
					right: 20px;
					bottom: 20px;
					text-align: center;
					line-height: 22px;
					font-size: 13px;
					color: #fff;
					i {
						&:before {
							position: relative;
							top: 1px;
							right: -2px;
						}
					}
				}
			}
			&:hover {
				.sha {
					opacity: 1;
				}
			}
		}
	}
	.pagination {
		width: 100%;
		height: 80px;
		border-bottom: 1px solid #d9d9d9;
		text-align: center;
		font-size: 0;
		margin-bottom: 51px;
		li {
			display: inline-block;
			margin: 26px 2px;
			height: 22px;
			border: 1px solid #b4b4b4;
			transition: $tran;
			a {
				display: block;
				font-size: 12px;
				line-height: 22px;
				color: #737373;
				padding: 0 10px;
				transition: $tran;
			}
			&:hover {
				background-color: $green;
				border: 1px solid $green;
				a {
					color: #fff;
				}
			}
		}
		.on {
			background-color: $green;
			border: 1px solid $green;
			a {
				color: #fff;
			}
		}
	}
}


.item_box {
	width: 1235px;
	margin-top: 100px;
	padding: 70px 85px 85px 80px;
	background-color: #fff;
	.item_left {
		width: 950px;
		float: left;
		img {
			max-width: 100%;
		}
	}
	.item_right {
		width: 232px;
		float: right;
		.title {
			font-size: 18px;
			line-height: 33px;
			border-bottom: 1px dotted rgba(89,89,89,0.2);
			color: #595959;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: 4px;
				height: 25px;
				background-color: $green;
				left: -13px;
				top: 3px;
			}
		}
		.sub {
			margin-top: 27px;
			.sub_title {
				font-size: 14px;
				line-height: 14px;
				font-weight: bold;
				color: #262626;
			}
			.sub_text {
				font-family: pingfang;
				font-size: 14px;
				line-height: 14px;
				color: #999999;
				margin-top: 10px;
			}
			.sub_main {
				margin-top: 10px;
				font-family: pingfang;
				font-size: 14px;
				line-height: 22px;
				color: #4c4c4c;
			}
		}
		.ask {
			display: block;
			width: 230px;
			height: 44px;
			font-family: pingfang;
			font-size: 14px;
			line-height: 44px;
			text-align: center;
			margin-top: 25px;
			border: 1px solid #a6a6a6;
			color: #a6a6a6;
			transition: $tran;
			&:hover {
				border: 1px solid $green;
				background-color: $green;
				color: #fff;
			}
		}
		.share {
			margin-top: 30px;
			text-align: right;
			span,a {
				float: right;
			}
			span {
				font-size: 14px;
				line-height: 20px;
				color: #999999;
				position: relative;
				left: 2px;
			}
			a {
				padding: 0;
				margin: 0 5px;
				display: block;
				width: 20px;
				height: 20px;
				background-image: url(../images/share.png);
			}
			.bds_renren {
				background-position: -25px 0px;
			}
			.bds_sqq {
				background-position: 0px 0px;
			}
			.bds_tsina {
				background-position: 0px -25px;
			}
			.bds_weixin {
				background-position: -25px -25px;
			}
		}
		.cr {
			margin-top: 9px;
			font-size: 14px;
			line-height: 14px;
			color: #999999;
			text-align: right;
			padding-bottom: 20px;
			border-bottom: 1px dotted rgba(89,89,89,0.2);
		}
	}
	.thank {
		width: 100%;
		margin-top: 159px;
		overflow: hidden;
		float: left;
		.bg {
			width: 393px;
			height: 117px;
			margin: 0 auto;
			background-image: url(../images/thank.png);
			background-position: center 0;
			background-repeat: no-repeat;
		}
		.qr_box {
			width: 134px;
			height: 157px;
			margin: 21px auto 0;
			.qr1 {
				width: 134px;
				height: 157px;
				float: left;
				img {
					width: 134px;
					height: 134px;
					display: block;
				}
				.title {
					font-family: pingfang;
					font-size: 14px;
					line-height: 23px;
					color: #737373;
					text-align: center;
				}
			}
			.qr2 {
				width: 134px;
				height: 157px;
				float: right;
				img {
					width: 134px;
					height: 134px;
					display: block;
				}
				.title {
					font-family: pingfang;
					font-size: 14px;
					line-height: 23px;
					color: #737373;
					text-align: center;
				}
			}
		}
	}
}


.recommend {
	margin-top: 80px;
	padding-bottom: 27px;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 72px;
	.title_c {
		font-family: pingfang;
		font-size: 22px;
		line-height: 22px;
		color: #4c4c4c;
		font-weight: bold;
		text-align: center;
	}
	.title_e {
		font-family: pingfang;
		font-size: 16px;
		line-height: 16px;
		color: #b2b2b2;
		margin-top: 4px;
		text-align: center;
	}
	.reco_group {
		width: 1432px;
		margin-top: 50px;
		li {
			width: 327px;
			height: 245px;
			margin-right: 31px;
			margin-bottom: 29px;
			float: left;
			transition: $tran;
			.img {
				display: block;
				width: 327px;
				height: 204px;
				img {
					display: block;
					width: 327px;
					height: 204px;
				}
			}
			.name {
				font-size: 14px;
				color: #999999;
				font-family: pingfang;
				line-height: 41px;
				text-align: center;
				display: block;
				transition: $tran;
			}
			&:hover {
				.name {
					background-color: $green;
					color: #fff;
				}
			}
		}
	}
}



.qa_box {
	width: 1203px;
	margin: 90px auto 0;
	.qa_group {
		width: 1257px;
		overflow: hidden;
		li {
			width: 363px;
			margin-right: 54px;
			margin-bottom: 54px;
			float: left;
			position: relative;
			box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
			.border {
				position: absolute;
				top: 222px;
				left: 0;
				width: 366px;
				height: 197px;
				transition: $tran;
			}
			&:hover {
				.border {
					left: 10px;
					width: 340px;
					height: 182px;
					border: 1px solid $green;
					border-top: 0;
				}
			}
			.mark {
				width: 24px;
				height: 35px;
				position: absolute;
				background-image: url(../images/mark.png);
				background-position: center 0;
				background-repeat: no-repeat;
				top: 0;
				left: 29px;
				font-size: 13px;
				line-height: 20px;
				color: #fff;
				text-align: center;
			}
			img {
				display: block;
				width: 363px;
				height: 222px;
			}
			.q {
				font-family: pingfang;
				font-size: 16px;
				line-height: 16px;
				text-align: center;
				color: $green;
				margin-top: 39px;
			}
			.a {
				width: 363px;
				font-family: pingfang;
				font-size: 14px;
				line-height: 22px;
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				height: 138px;
				color: #595959;
			}
		}
	}
}

.pagei_box {
	margin: 45px auto 0;
	text-align: center;
	.prev_page,.next_page {
		margin: 0 10px;
		display: inline-block;
		width: 162px;
		height: 49px;
		text-align: center;
		font-size: 20px;
		color: #737373;
		background-color: #fff;
		border: 1px solid #737373;
		line-height: 49px;
		border-radius: 5px;
		transition: $tran;
		&:hover {
			background-color: $green;
			color: #fff;
			border: 1px solid $green;
		}
	}
}

	.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
	.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
	.BMap_Marker{background: url(../images/map-img.png) no-repeat center !important;}